
/* Container Styles */
.list-container {
    width: 360px;
    margin-left: 2.5rem;
}

.list-container:last-child {
    margin-right: 2.5rem;
}

/* Header Styles */
.list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.list-header-left,
.list-header-right {
    display: flex;
    align-items: center;
}

.list-icon {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}

.list-title {
    margin-right: 0.65rem;
    font-weight: 600;
    font-size: 1rem;
}

.list-add-item,
.list-option-item {
    margin-right: 0.5rem;
    cursor: pointer;
    color: var(--textgrey);
}

/* Card Items Styles */
.list-card-items {
    width: 100%;
}

/* Media Query for Responsive Design */
@media (max-width: 500px) and (min-width: 300px) {
    .list-container {
        width: 320px;
        margin-left: 1.5rem;
        margin-right: 1.5rem; /* Apply margin to last child as well */
    }
}
